@model PizzaFormModel

@{
    Layout = "_myLayout";
    ViewData["title"] = "Edit my pizza";
    var pizzaform = Model;
}

<div class="container text-center mt-3">
    <div class="d-flex justify-content-center">
        <form method="post" asp-controller="Pizza"  asp-action="Update">
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <label asp-for="Pizza.Name" class="form-label"></label>
                <input asp-for="Pizza.Name" class="form-control" />
                <span asp-validation-for="Pizza.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Pizza.Description" class="form-label"></label>
                <textarea asp-for="Pizza.Description" class="form-control"></textarea>
                <span asp-validation-for="Pizza.Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Pizza.Foto" class="form-label"></label>
                <input type="file" asp-for="Pizza.Foto" class="form-control" />
                <span asp-validation-for="Pizza.Foto" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Pizza.Price" class="form-label"></label>
                <input type="number" asp-for="Pizza.Price" class="form-control" value="@pizzaform.Pizza.Price" />
                <span asp-validation-for="Pizza.Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Pizza.Categoria"></label>
                <select asp-for="Pizza.CategoriaId" class="form-select" aria-label="Default select example">

                    <option value="">Scegli una categoria</option>
                    @foreach (Categoria categoria in pizzaform.Categories)
                    {
                        @if (pizzaform.Pizza.CategoriaId == categoria.Id)
                        {
                            <option value="@categoria.Id" selected>@categoria.Name</option>
                        }
                        else
                        {
                            <option value="@categoria.Id">@categoria.Name</option>
                        }
                    }

                </select>
            </div>
            <div class="mb-3">
                <label asp-for="Pizza.Ingredientii"></label>
                <select asp-for="SelectedIngredientii"
                        multiple
                        size="5"
                        class="form-control"
                        asp-items="@pizzaform.Ingredientii">
                </select>
            </div>
            <button type="submit" class="btn btn-success">Change</button>
        </form>
    </div>
</div>